// Animate out notifications sidebar
// Animation
@keyframes animateNotificationsOut {
  from {
    position: absolute;
  }
  0.000001% {
    margin-right: -600px;
    position: relative;
  }
  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes animateNotificationsOut {
  from {
    position: absolute;
  }
  1% {
    margin-right: -600px;
    position: relative;
  }
  100% {
    margin-right: 0;
  }
}

@-moz-keyframes animateNotificationsOut {
  from {
    position: absolute;
  }
  1% {
    margin-right: -600px;
    position: relative;
  }
  100% {
    margin-right: 0;
  }
}

@-o-keyframes animateNotificationsOut {
  from {
    position: absolute;
  }
  1% {
    margin-right: -600px;
    position: relative;
  }
  100% {
    margin-right: 0;
  }
}
