// Mixins

// Center elements
@mixin auto {
  margin-left: auto;
  margin-right: auto;
};

// Change placeholder colour
// From: http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
@mixin placeholder ($colour) {
  ::-webkit-input-placeholder { // WebKit, Blink, Edge, Chrome
    color: $colour;
    opacity: 1;
  }
  :-moz-placeholder { // Mozilla Firefox 4 to 18
    color: $colour;
    opacity: 1;
  }
  ::-moz-placeholder { // Mozilla Firefox 19+
    color: $colour;
    opacity: 1;
  }
  :-ms-input-placeholder { // Internet Explorer 10-11
    color: $colour;
  }
}

// Square image with one side $width
@mixin square-img($width) {
  height: $width;
  width: $width;
}

// Create an animation property set
@mixin create-animation($animation-name, $duration) {
  animation: $animation-name;
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  -o-animation: $animation-name;
  animation-duration: $duration;
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
}

// Align to centre of sidebar item
@mixin align-to-centre {
  padding-top: 6px;
  padding-left: 13px;
}

// Fill
@mixin fill {
  height: 100%;
  width: 100%;
}
