// Vars
$sidebar-background: #34495e;
$nav-item-height: 50px;
$sidebar-collapse-width: 60px;
$navbar-background: #fafafa;
$navbar-background-hover: #e0e0e0;
$navbar-text: #212121;
$navbar-text-hover: #424242;
// Accent
$accent: #0288d1;
$accent-2: #0277bd;
