// Base styles for dashboard
@import 'util/base';
@import 'theme.dashboard';

// Color + body styles
body {
  color: $dash-text-color;
  height: 100%;
  font-family: Open-Sans-Light !important;
  overflow-y: hidden;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, div {
  font-family: Open-Sans-Light !important;
}

// Main container
#main {
  height: 100%;
  main {
    height: 100%;
  }
}

// HTML
// Fix issue where body is not really 100%
html {
  height: 100%;
}

// Page body
.page-body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $background-colour;
  margin-left: $sidebar-collapse-width;
}

// Base for headers
h1, h1, h3, h4, h5, h6 {
  margin-top: 0;
}
// Inline
.inline {
  display: inline;
}
// Off canvas
.off-canvas {
  float: right;
  position: relative;
  background: blue;
  height: 100%;
}

// Not a button
.not-a-button {
  border: 0;
  background: none;
}
