// Navbar stuff
@import 'dashboard';

.navigater {
  height: $nav-item-height;
  border-radius: 0;
  background-color: $navbar-background;
  border: 0;
  width: 100%;
  .container {
    width: 100%;
  }
}

// Nav text
.nav-text, .navbar-dropdown {
  font-size: 19px;
  a {
    color: $navbar-text !important;
    img {
      @include square-img(25px);
      border-radius: 50px;
      margin-left: 5px;
    }
  }
  a:hover {
    color: $navbar-text-hover !important;
  }
}

.nav-text:hover, .navbar-dropdown:hover {
  background-color: $navbar-background-hover;
}
.open {
  a, ul {
    background-color: $navbar-background-hover !important;
    text-decoration: none;
  }
}
