// Navbar stuff
@import 'dashboard';

.navigater {
  height: $nav-item-height;
  border-radius: 0;
  background-color: $navbar-background;
  border: 0;
  width: 100%;
  .container {
    width: 100%;
  }
}

.hamburger-nav {
  padding-left: 0;
}

.hamburger-li {
  li {
    padding-left: 9px;
    padding-top: 0;
    .hamburger {
      margin-top: 13px;
      padding: 0;
      // Push over header
      margin-right: 25px;
    }
  }
}

// Nav text
.nav-text {
  font-size: 19px;
  a {
    color: $navbar-text !important;
  }
  a:hover {
    color: $navbar-text-hover !important;
  }
}
