// Navbar stuff
@import 'dashboard';

.navigater {
  height: $nav-item-height !important;
  min-height: $nav-item-height !important;
  border-radius: 0 !important;
  background-color: $navbar-background !important;
  border: 0;
  width: 100%;
  .container {
    width: 100%;
  }
}

// Nav text
.nav-text, .navbar-dropdown {
  height: 50px;
  font-size: 19px;
  a {
    color: $navbar-text !important;
    padding-top: 15px !important;
    height: 50px;
    img {
      @include square-img(25px);
      border-radius: 50px;
      margin-left: 5px;
    }
  }
  a:hover {
    color: $navbar-text-hover !important;
  }
}

.navbar-dropdown {
  ul {
    padding: 0 !important;
    li {
      padding: 5px 0;
      height: auto !important;
      a {
        padding: 0 !important;
        text-align: center;
        height: inherit;
        li {
          height: inherit !important;
        }
      }
    }
    li:hover {
      background-color: $navbar-background;
      a {
        background-color: inherit !important;
        li {
          background-color: inherit !important;
        }
      }
    }
  }
}

.nav-text:hover, .navbar-dropdown:hover {
  background-color: $navbar-background-hover;
}
.open {
  a, ul {
    background-color: $navbar-background-hover !important;
    text-decoration: none;
  }
}
