// Notifications sass
@import 'dashboard';

.animate-out-sidebar {
  @include create-animation(animateNotificationsOut, 1s);
  position: relative;
  margin-right: 0;
}

.animate-in-sidebar {
  @include create-animation(animateNotificationsIn, 2s);
  position: relative;
  margin-right: -600px;
}

// Sidebar
.notifications-bar {
  @media screen and (min-width: 845px) {
    width: 300px;
  }
  div {
    a {
      li {
        padding-top: 6px;
        padding-left: 13px;
        $padding-text-align: 2px;
        div {
          padding-top: $padding-text-align;
          h1, h2, h3, h4, h5, h6 {
            display: inline;
          }
          img {
            width: 40px;
            padding-bottom: $padding-text-align;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

$dismiss-notify-pad-top: 6px;
.dismiss-notify {
  float: right;
  padding-top: $dismiss-notify-pad-top !important;
}
.dismiss-notify:hover {
  opacity: 0.3;
}

// Header
.notify-header {
  padding-top: 13px;
  padding-left: 10px;
  h1, h2, h3, h4, h5, h6 {
    display: inline;
  }
  #clear-notify {
    float: right;
    margin-top: 4.4px;
    margin-right: 10px;
    color: #0288d1;
    font-size: 13px !important;
    background: transparent;
    border: 0;
  }
  #clear-notify:hover {
    color: #03a9f4;
    text-decoration: underline;
  }
}

// Close notifications panel
.close-notify-bar:hover {
  opacity: 0.5;
}
.close-notify-bar:focus {
  opacity: 0.5;
  border: 0;
}

// Time sent
.time-notify {
  display: inline;
  font-size: 13px;
  text-align: right;
  padding-right: 10px !important;
  float: right;
  padding-top: $dismiss-notify-pad-top + 2px !important;
  opacity: 0.5;
}

// Notifications
.notifications-bar-body {
  overflow-y: scroll;
  height: 100%;
}
