// Notifications sass
@import 'dashboard';

// Sidebar
.notifications-bar {
  overflow-y: scroll;
  @media screen and (min-width: 845px) {
    width: 300px;
  }
  div {
    a {
      li {
        padding-top: 6px;
        padding-left: 13px;
        $padding-text-align: 2px;
        div {
          padding-top: $padding-text-align;
          h1, h2, h3, h4, h5, h6 {
            display: inline;
          }
          img {
            width: 40px;
            padding-bottom: $padding-text-align;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.dismiss-notify {
  float: right;
  padding-top: 6px !important;
}
.dismiss-notify:hover {
  opacity: 0.5;
}

// Header
.notify-header {
  padding-top: 13px;
  padding-left: 10px;
  h1, h2, h3, h4, h5, h6 {
    display: inline;
  }
  #clear-notify {
    float: right;
    margin-top: 4.4px;
    margin-right: 10px;
    color: #0288d1;
    font-size: 13px !important;
    background: transparent;
    border: 0;
  }
  #clear-notify:hover {
    color: #03a9f4;
    text-decoration: underline;
  }
}
