// Notifications sass
@import 'dashboard';

%silent-notification-item {
  li {
    @include align-to-centre;
    height: auto !important;
    padding: 10px;
    $padding-text-align: 5px;
    div {
      padding-top: $padding-text-align;
      h1, h2, h3, h4, h5, h6 {
        display: inline;
        p {
          display: inline;
          font-family: Open-Sans !important;
        }
      }
      $notification-img-width: 30px;
      $notification-img-padding: 5px;
      img {
        width: $notification-img-width;
        padding-bottom: $padding-text-align;
        padding-right: $notification-img-padding;
      }
      .notification-body {
        margin-top: -2px;
        padding-top: 0 !important;
      }
    }
  }
}

.animate-out-sidebar {
  @include create-animation(animateNotificationsOut, 1s);
  position: relative;
  margin-right: 0;
}

.animate-in-sidebar {
  @include create-animation(animateNotificationsIn, 2s);
  position: relative;
  margin-right: -600px;
}

// Sidebar
.notifications-bar {
  @media screen and (min-width: 845px) {
    width: 310px;
  }
  @media screen and (max-width: 846px) {
    width: 100%;
  }
  div {
    a {
      @extend %silent-notification-item;
    }
  }
}

$dismiss-notify-pad-top: 1px;
$extras-opacity: 0.5;
$buttons-size: 13px;
%silent-extras-icons {
  float: right;
  padding-top: $dismiss-notify-pad-top !important;
  padding-right: 6px;
  padding-left: 0;
  opacity: $extras-opacity;
  button {
    @include not-a-button;
  }
}
.dismiss-notify {
  @extend %silent-extras-icons;
  button {
    padding-left: 0;
    padding-right: 0;
  }
}
.dismiss-notify:hover, .notification-view-more:hover {
  opacity: 1;
}
.notification-view-more {
  @extend %silent-extras-icons;
  padding-top: 2.5px !important;
  a {
    font-size: $buttons-size + 2px !important;
    color: $navbar-text !important;
    text-decoration: none !important;
  }
}

// Header
.notify-header {
  height: 42px;
  padding-top: 8px;
  padding-left: 10px;
  h1, h2, h3, h4, h5, h6 {
    display: inline;
  }
  #clear-notify {
    float: right;
    margin-top: 4.4px;
    margin-right: 10px;
    color: #0288d1;
    font-size: 13px !important;
    background: transparent;
    border: 0;
  }
  #clear-notify:hover {
    color: #03a9f4;
    text-decoration: underline;
  }
}

// Close notifications panel
.close-notify-bar:hover {
  opacity: 0.5;
}
.close-notify-bar:focus {
  opacity: 0.5;
  border: 0;
}

// Time sent
.time-notify {
  display: inline;
  font-size: $buttons-size;
  text-align: right;
  padding-right: 10px !important;
  float: right;
  padding-top: $dismiss-notify-pad-top + 4px !important;
  opacity: $extras-opacity;
}

// Notifications
.notifications-bar-body {
  overflow-y: scroll;
  height: 100%;
  div {
    @extend %silent-notification-item;
  }
}
