// Styles for tabs
@import 'dashboard';

.tabs-header {
  height: 35px;
  width: 100%;
  border-bottom-color: $navbar-text;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  ul {
    height: 100%;
    width: 100%;
    padding: 0;
    list-style-type: none;
    li {
      float: left;
      border-right-color: $navbar-text;
      border-right-style: solid;
      border-right-width: 1px;
      height: 100% !important;
      width: 50%;
      button {
        height: 100%;
        width: 100%;
        border: 0;
        background: transparent;
      }
    }
    li:hover {
      background-color: $navbar-background-hover;
    }
  }
}

// Wrapper around tabs body
.tab-wrap {
  height: 100%;
}
