<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Bedel</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <!-- Our style sheet -->
    <link rel="stylesheet" href="/css/login.css" media="screen" title="no title" charset="utf-8">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Login page -->
    <div class="container">
      <div class="logo">
        <img src="/img/Bedel_Logo_1.png" alt="Logo" />
        <h4><%=npm.description%></h4>
      </div>
      <h3>Welcome back!</h3>
      <div class="login-box">
        <form action="/login" method="post">
          <div class="form-group">
            <input class="form-control input-lg" type="text" name="username" id="username" value="" placeholder="Username">
            <input class="form-control input-lg" type="password" name="password" id="password" value="" placeholder="Password">
            <button role="submit" type="submit" name="submit" class="btn btn-success">Login</button>
          </div>
        </form>
        <!-- oauth links -->
        <a href="/oauth/github" class="oauth-box">
          <div class="oauth-box-body btn btn-default">
            <i class="fa fa-github fa-lg fa-2x" aria-hidden="true"></i>
            Login with GitHub
            <i class="fa fa-chevron-right " aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
