// Dashboard theme
$sidebar-background: #1d1d1d;
$sidebar-background-hover: #262626;
$background-colour: #212121;
$navbar-background: #1d1d1d;
$navbar-background-hover: #262626;
$navbar-text: #fafafa;
$navbar-text-hover: #9e9e9e;

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: white;
}

.hamburger-li {
  li {
    background-color: #c62828;
  }
  li:hover {
    background-color: #b71c1c;
  }
}
