// Theme vars for light theme
@import '../sass/util/colours';
// BOOTSWATCH THEME
@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css");

// Background
$background-colour: #2c3e50;
$login-box-border: #bdc3c7;
$login-box-background: $clouds;
$text-color: $clouds;
$seperater-color: #34495e;
