// Colours
// All colours from https://flatuicolors.com/ & https://www.materialui.co/colors
$red: #e74c3c;
$red-dark: #c0392b;
$orange: #e67e22;
$orange-dark: #d35400;
$yellow: #f1c40f;
$yellow-dark: #ffb300;
$olive: #afb42b;
$olive-dark: #9e9d24;
$green: #4caf50;
$green-dark: #27ae60;
$teal: #009688;
$teal-dark: #00796b;
$blue: #3498db;
$blue-dark: #2980b9;
$violet: #673ab7;
$violet-dark: #4527A0;
$purple: #9c27b0;
$purple-dark: #8e44ad;
$pink: #e91e63;
$pink-dark: #d81b60;
$brown: #795548;
$brown-dark: #6d4c41;
$grey: #607d8b;
$gey-dark: #546e7A;
$navy: #37474F;
$navy-dark: #263238;
$black: #212121;
$black-dark: 424242;
$white: #ecf0f1;
$white-dark: #bdbdbd;

$text-color: $white;
$accent: $red;
$accent-dark: $red-dark;
$accent-string: red;

$light-const: 10%;
$dark-const: 5%;
