// Theme vars for light theme
@import '../sass/util/colours';

// Background
$background-colour: #2c3e50;
$login-box-border: #bdc3c7;
$login-box-background: $clouds;
$text-color: white;
$seperater-color: #34495e;
